body {
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    height: 100vh;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 45px;
    color: hsl(0, 0%, 95%);
    margin: 35px 0 35px 0;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: hsla(0, 0%, 100%, 0.75);
    /* margin-bottom: 80px; */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.card {
    text-align: left; 
    max-width: 210px;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    padding: 50px 65px;
}

#card-1 {
    --background-color: hsl(31, 77%, 52%);
    background-color: var(--background-color);
    border-radius: 10px 0 0 10px;
}

#card-2 {
    --background-color: hsl(184, 100%, 22%);
    background-color: var(--background-color);
}

#card-3 {
    --background-color: hsl(179, 100%, 13%);
    background-color: var(--background-color);
    border-radius: 0 10px 10px 0;
}

.button-container {
    margin-top: 80px;
}

button {
    padding: 15px 35px;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 35px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: var(--background-color);
}

button:active {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

@media only screen and (max-width: 765px) {
    
    main {
        height: 100vh;
        margin: 50px 30px;
    }
    
    .cards-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        margin: auto;
    }

    .card {
        text-align: left; 
        min-width: 250px;
        max-width: 430px;
        padding: 50px 45px;
     }

     .button-container {
        margin-top: unset;
    }

     p {
        margin-bottom: 25px;
    }

    #card-1 {
        --background-color: hsl(31, 77%, 52%);
        background-color: var(--background-color);
        border-radius: 10px 10px 0 0;
    }
    
    #card-3 {
        --background-color: hsl(179, 100%, 13%);
        background-color: var(--background-color);
        border-radius: 0  0 10px 10px;
    }
}